<div class="page-header">
  <h1>Discobolo panel</h1>
</div>


<% if @queues.any? %>
  <ul>
    <% @queues.each do |queue| %>
      <li>
        <h3>
          <%= link_to queue, "queues/#{queue}" %>
        </h3>
        <%= client.queue_lenght(queue) %> 
      </li>
    <% end %>
  </ul>
<% end %>